In [139]:
import pandas as pd

In [140]:
df = pd.read_csv('adult.data.csv')

In [141]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [142]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [143]:
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [144]:
lower_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [153]:
higher_education_rich = (higher_education[higher_education.salary == '>50K'].shape[0] / higher_education.shape[0]) * 100

In [154]:
higher_education_rich

46.535843011613935

In [155]:
lower_education_rich = (lower_education[lower_education.salary == '>50K'].shape[0] / lower_education.shape[0]) * 100

In [156]:
lower_education_rich

17.3713601914639

In [167]:
min_work_hours = df['hours-per-week'].min()

In [168]:
min_work_hours

1

In [169]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]

In [170]:
rich_percentage = (num_min_workers[num_min_workers.salary == '>50K'].shape[0] / num_min_workers.shape[0]) * 100

In [174]:
rich_percentage

10.0

In [191]:
country_salary_count = df[df['salary'] == '>50K']['native-country'].value_counts()

In [192]:
country_count = df['native-country'].value_counts()

In [193]:
highest_earning_country = ((country_salary_count / country_count) * 100).idxmax()

In [194]:
highest_earning_country

'Iran'

In [205]:
highest_earning_country_percentage = ((country_salary_count / country_count) * 100).max()

In [206]:
highest_earning_country_percentage

41.86046511627907

In [213]:
top_IN_occupation = df[ (df['native-country'] == 'India') & (df['salary'] == '>50K') ]['occupation'].value_counts().idxmax()

In [214]:
top_IN_occupation

'Prof-specialty'